.container{
    display: grid;
    grid-gap: 10px;
   /*grid-template-columns: 100px auto 100px;
    grid-template-row: 50px 50px;*/

    /*grid-template-columns: 100px auto ;
    grid-template-row: 50px 50px 200px;*/

    /*grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-row: 50px 50px;*/

    /*grid-template-columns: repeat(2, 1fr);
    grid-template-row: repeat(4, 50px);*/

    /*grid-template: 50px 50px/ 100px auto 100px;*/

    grid-template: auto auto auto/ repeat(3, 1fr);

}


.menu{
    grid-column: 1 / 2;
    margin: 0px;
}

.content{
    
    grid-column: 2/ 3;

}

.footer{
    
    grid-column: 3/ -1;
}



@media screen and (max-width: 1080px) {
	
	.container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto; 
    }


}


@media screen and (max-width: 780px) {
	
	.container{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto auto;
    }
	
	.menu{
    grid-column: 1 / -1;}

	.content{
    grid-column: 1/ -1;}

	.footer{
    grid-column: 1/ -1;}

}